/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/
.header{
    background-color: white;
    margin-bottom: 10px;
    max-height: 10%;
    z-index: 999999;

}

/*.content{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    overflow: scroll;*/
/*}*/