<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>项目名</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="https://www.dlmu.edu.cn/">DLMU</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#introduction">Introduction</a></li>
                <li><a class="nav-link scrollto" href="#service">Service</a></li>
                <li><a class="nav-link scrollto" href="#dataset">Dataset</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
                <li><a class="nav-link getstarted" href="{% url 'main' %}">Return to Home Page</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>神经肽识别</h1>
                <h2>
                    这是一个用来识别神经肽的工具网站，这是一个用来识别神经肽的工具网站，这是一个用来识别神经肽的工具网站，这是一个用来识别神经肽的工具网站，这是一个用来识别神经肽的工具网站，这是一个用来识别神经肽的工具网站，
                </h2>
            </div>
            <!--        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">-->
            <!--          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">-->
            <!--        </div>-->
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Introduction Section ======= -->
    <section id="introduction" class="introduction">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Introduction</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        论文的Introduction<br/>论文的Introduction<br/>
                        论文的Introduction<br/>论文的Introduction<br/>
                        论文的Introduction<br/>论文的Introduction<br/>
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> 保留一个列表</li>
                    </ul>
                    <a href="https://www.baidu.com" target="_blank" class="btn-learn-more">论文的DOI，暂时用百度代替</a>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
                </div>
            </div>

        </div>
    </section>
    <!-- End Introduction Section -->

    <!-- ======= Service Section ======= -->
    <section id="service" class="service section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Service</h2>
                <p>简要介绍怎么使用简要介绍怎么使用简要介绍怎么使用简要介绍怎么使用简要介绍怎么使用</p>
            </div>

            <div class="row">

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

                    <form action="form_submit" method="post" role="form" class="php-email-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="{{form_task.name.id_for_label}}">{{form_task.name.label}}</label>
                                {{form_task.name}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{form_task.email.id_for_label}}">
                                    <span style="color: red;">*</span>{{form_task.email.label}}
                                </label>
                                {{form_task.email}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{form_task.data.id_for_label}}">{{form_task.data.label}}</label>
                            {{form_task.data}}
                        </div>
                        <div class="form-group">
                            <label for="{{form_task.file.id_for_label}}">{{form_task.file.label}}</label>
                            {{form_task.file}}
                            <button class="btn btn-info form-control" type="button"
                                    onclick="document.getElementById('fasta_file').click()">Select Fasta File
                            </button>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Submit</button>
                            <button type="reset">Reset</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 content">
                    <div class="row">
                        <div class="accordion-list">
                            <ul>
                                <li>
                                    <a class="collapsed">
                                        <span>01</span>
                                        Your email is the only way to communicate with you after we have completed the
                                        task you have submitted, so please be sure to fill it out carefully.
                                    </a>
                                </li>
                                <li>
                                    <a class="collapsed">
                                        <span>02</span>
                                        Your data should be submitted in fasta format and only one item of the data or
                                        file should be submitted.
                                    </a>
                                </li>
                                <li>
                                    <a class="collapsed">
                                        <span>03</span>
                                        The data you submit should meet the following conditions.</br>
                                        1. The length of the submitted amino acid sequence is less than 100.</br>
                                        2. The submitted file is less than 500kb.</br>
                                        3. The number of sequences submitted is within 100</br>
                                        4. The submitted amino acid sequence should consist of 'A', 'C', 'D', 'E', 'F',
                                        'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y'.
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Service Section -->

    <!-- ======= Dataset Section ======= -->
    <section id="dataset" class="dataset">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Dataset</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>回头把论文里数据集的描述复制过来</p>
                </div>
                <div class="col-lg-6 col-md-6 links">
                    <h4>The dataset is available for download at the following address.</h4>
                    <ul>
                        <li>
                            <a href="{% static 'file/neuropeptide/Positive samples for training dataset.txt' %}"
                               download="" class="btn-learn-more">
                                <i class="bi-download"></i> Positive samples for training dataset
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'file/neuropeptide/Negative samples for training dataset.txt' %}"
                               download="" class="btn-learn-more">
                                <i class="bi-download"></i> Negative samples for training dataset
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'file/neuropeptide/Positive samples for independent dataset.txt' %}"
                               download="" class="btn-learn-more">
                                <i class="bi-download"></i> Positive samples for independent dataset
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'file/neuropeptide/Negative samples for independent dataset.txt' %}"
                               download="" class="btn-learn-more">
                                <i class="bi-download"></i> Negative samples for independent dataset
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- End Dataset Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact Us</h2>
                <p>If you encounter any problems, you can contact the following person in charge.</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="info">
                        <div class="name">
                            <i class="bi bi-person"></i>
                            <h4>Name:</h4>
                            <p>Di Liu</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>644109839@qq.com</p>
                        </div>

                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>No. 1, Linghai Road, Dalian City, Liaoning Province, China</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>