<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>标题栏123</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <!--==== Google Fonts ====-->
<!--    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500%7CSpectral:400,400i,500,600,700" rel="stylesheet">-->

    <!-- CSS Files -->
    
    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="{% static 'css/neuropeptide/custom.css' %}">
</head>
<body>

    <!-- Nav Search Box -->
    <div class="nav-search-box">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="eg. feel the love and …">
                <span class="b-line"></span>
                <span class="b-line-under"></span>
                <div class="input-group-append">
                    <button type="button" class="btn">
                        <img src="../../static/images/search-icon.svg" alt="" class="img-fluid svg">
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- End of Nav Search Box -->

    <!-- Header -->
    <header class="header">
        <div class="header-fixed">
            <div class="container-fluid pl-120 pr-120 position-relative">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-3 col-md-4 col-6">
                        <!-- Logo -->
                        <div class="logo">
                        <!-- 这里可以做个好看的图片来代替 尺寸103*43 -->
                            <a href="#">假LOGO</a>
<!--                            <a href="#"><img src="assets/images/logo.png" alt="" class="img-fluid"></a>-->
                        </div>
                        <!-- End of Logo -->
                    </div>

                    <div class="col-lg-9 col-md-8 col-6 d-flex justify-content-end position-static">
                        <!-- Nav Menu -->
                        <!-- 这里只保留了一个二级菜单 多级菜单去模板找 -->
                        <div class="nav-menu-cover">
                            <ul class="nav nav-menu">
                                <li><a href="index.html">主页</a></li>
                                <li><a href="#">关于我们</a></li>
                                <li><a href="{% url 'main' %}"> 返回项目组首页 </a></li>
                            </ul>
                        </div>
                        <!-- End of Nav Menu -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->

    <div class="content">
        <!-- Newsletter -->
    <section class="newsletter-cover">
        <!-- Overlay -->
        <div class="container">
            <div class="newsletter pt-80 pb-80">
            <!-- Section title -->
            <div class="section-title text-center">
                <h2>Subscribe Our Newsletter</h2>
            </div>
            <!-- End of Section title -->
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <!-- Newsletter Form -->
                        <form  action="" method="post" novalidate>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-default">Submit</button>
                                </div>
                            </div>
                            <p class="checkbox-cover d-flex justify-content-center">
                                <label> I've read and accept the <a href="#"> Privacy Policy </a>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </p>
                        </form>
                        <!-- End of Newsletter Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Newsletter -->

    </div>



</body>
</html>
