/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/
.footer-container{
    background-color: #fffcfc;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px 0px;
}

header{
    background-color: white;
    margin-bottom: 10px;
}

/*body{*/
/*    overflow: hidden;*/
/*}*/

/*.content{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    overflow: scroll;*/
/*}*/